.list {
  display: flex;
  gap: 8px;
  overflow: auto;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--light-black);
    border-radius: 9px;
  }
}
