.language_buttons_wrapper {
  display: flex;
  gap: 5px;
  max-width: 60px;
  border-radius: 10px;
  padding: 2px 4px;
}

.btn {
  font-size: 14px;
  line-height: 1.5;
  padding: 2px 4px;
  border-radius: 8px;
  border: 1px solid rgb(143, 140, 140);
  background-color: var(--green);
  color: var(--white);
  transition: all 150ms linear;
  &:disabled {
    background-color: transparent;
    color: grey;
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
