.addWaterBtn {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--light-black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .iconWrap {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease 0s;

    .icon {
      color: var(--light-black);
      width: 100%;
      height: 100%;
    }
  }

  &:hover,
  &:focus {
    .iconWrap {
      background-color: var(--light-black);

      .icon {
        color: var(--white);
      }
    }
  }
}
