.container {
  margin: 0 auto;
  background-color: var(--grey);
  padding: 24px 16px 170px;
  border-radius: 30px;
  height: 100vh;
  min-width: 320px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: 126px;
  margin-bottom: 32px;
}
