.container {
  border-radius: 30px;
  background: #f0eff4;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 343px;
  min-height: 411px;
  flex-shrink: 0;
}

.container_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  row-gap: 16px;
}
h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.06em;
  color: #2f2f2f;
}
h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}
.container_link {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.link {
  border: 1px solid #323f47;
  border-radius: 30px;
  padding: 14px 28px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  font-weight: 700;
  font-size: 14px;
  transition: color cubic-bezier(0.39, 0.575, 0.565, 1),
    border cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link_2 {
  border-radius: 30px;
  padding: 14px 19px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  font-weight: 700;
  background-color: var(--green);
  font-size: 14px;
}
.link:hover {
  color: var(--green);
  border: 1px solid var(--green);
}

.link_2:hover {
  background-color: var(--green-hover);
}

.active {
  background: #9be1a0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
    max-width: 704px;
    height: auto;
  }

  .container_2 {
    padding-left: 32px;
    padding-right: 61px;
  }

  .text {
    padding-top: 50px;
  }

  .first_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
  }

  .title {
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.64px;
  }

  .container_link {
    padding-bottom: 20px;
    gap: 16px;
  }

  .link_2 {
    padding: 18px 40px;
  }

  .link {
    padding: 18px 28px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 672px;
    height: 736px;
  }

  .text {
    padding-top: 132px;
  }

  .title {
    font-size: 80px;
    line-height: 0.95;
    letter-spacing: -0.8px;
  }

  .link_2 {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
    padding: 18px 40px;
  }
}
