.container {
  border-radius: 30px;
  background: #f0eff4;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 67px;
}
.container_without_logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.06em;
  color: #2f2f2f;
}
h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}
.container_link {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.link {
  border: 1px solid #323f47;
  border-radius: 30px;
  padding: 14px 19px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  font-weight: 700;
  font-size: 14px;
  transition: color cubic-bezier(0.39, 0.575, 0.565, 1),
    border cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link_2 {
  border-radius: 30px;
  padding: 14px 19px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  font-weight: 700;
  background-color: var(--green);
  font-size: 14px;
}
.link:hover {
  background: #9be1a0;
  border-color: #9be1a0;
}

.active {
  background: #9be1a0;
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-bottom: 50px;
  }
  .container_without_logo {
    padding-left: 32px;
  }
  h2 {
    font-size: 16px;
    line-height: 1.5;
  }
  h1 {
    font-size: 64px;
    line-height: 1.09;
  }
  .container_link {
    gap: 16px;
  }
  .link {
    font-size: 16px;
    line-height: 1.5;
    padding: 18px 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-bottom: 188px;
    padding-right: 61px;
    width: 672px;
  }
  .container_without_logo {
  }
  h2 {
    margin-top: 132px;
  }
  h1 {
    font-size: 80px;
    line-height: 0.95;
  }
}
