.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 20px;
  column-gap: calc((100% - 7 * 28px) / 6);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 15px;
    column-gap: calc((100% - 8 * 38px) / 7);
  }

  @media screen and (min-width: 1440px) {
    row-gap: 15px;
    column-gap: 43px;
  }
}
