.container {
  background-image: image-set(
    url('../../../public/water_women_images/water_woman_mob-min.png') 1x,
    url('../../../public/water_women_images/water_woman_mob@2x-min.png') 2x
  );
  background-repeat: no-repeat;
  border-radius: 30px;
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}
.container_customers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 30px;
  padding: 10px 14px;
  max-width: 160px;
  height: 48px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-top: 209px;
}

.customers_img_first {
  content: image-set(
    url('../../../public/happy_images/happy_first_women_mob-min.png') 1x,
    url('../../../public/happy_images/happy_first_women_mob@2x-min.png') 2x
  );
  border-radius: 100%;
  width: 26px;
  height: 28px;
}
.customers_img_second {
  content: image-set(
    url('../../../public/happy_images/happy_second_boy_mob-min.png') 1x,
    url('../../../public/happy_images/happy_second_boy_mob@2x-min.png') 2x
  );
  margin-left: -8px;
  border-radius: 100%;
  width: 26px;
  height: 28px;
}
.customers_img_third {
  content: image-set(
    url('../../../public/happy_images/heppy-third-women-mob-min.png') 1x,
    url('../../../public/happy_images/heppy-third-women-mob@2x-min.png') 2x
  );
  margin-left: -8px;
  border-radius: 100%;
  width: 26px;
  height: 28px;
}
.customers_text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
}
.customers_text_happy {
  color: #9be1a0;
}
.container_benefits {
  margin-top: 265px;
  margin-left: -7px;
  width: 168px;
  height: 56px;
}

.ellipse_icon {
  fill: var(--green);
}
.benefits_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  font-weight: 700;
  font-size: 8px;
  line-height: 1;
}
.benefits_item_one {
  border-radius: 30px;
  padding: 9px 12px;
  background: #323f47;
  color: #fff;
  display: flex;
  gap: 2px;
  align-items: center;
}
.benefits_item_two {
  border-radius: 30px;
  padding: 9px 12px;
  background: #9be1a0;
}
.benefits_item_three {
  border-radius: 30px;
  padding: 9px 12px;
  background: #fff;
}
@media (min-width: 768px) {
  .container {
    background-image: image-set(
      url('../../../public/water_women_images/water_woman_tab-min.png') 1x,
      url('../../../public/water_women_images/water_woman_tab@2x-min.png') 2x
    );
    width: 704px;
    height: 446px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 161px;
  }
  .container_customers {
    max-width: 237px;
    height: 67px;
    padding: 10px 20px;
    margin-top: 283px;
  }
  .customers_img_first {
    content: image-set(
      url('../../../public/happy_images/happy_first_woman_tab_desk-min.png') 1x,
      url('../../../public/happy_images/happy_first_woman_tab_desk@2x-min.png')
        2x
    );
    width: 47px;
    height: 47px;
  }
  .customers_img_second {
    content: image-set(
      url('../../../public/happy_images/happy_second_boy_tab_desk-min.png') 1x,
      url('../../../public/happy_images/happy_second_boy_tab_desk@2x-min.png')
        2x
    );
    margin-left: -10px;
    width: 47px;
    height: 47px;
  }
  .customers_img_third {
    content: image-set(
      url('../../../public/happy_images/happy_third_woman_tab_desk-min.png') 1x,
      url('../../../public/happy_images/happy_third_woman_tab_desk@2x-min.png')
        2x
    );
    margin-left: -10px;
    width: 47px;
    height: 47px;
  }
  .customers_text {
    font-size: 15px;
    line-height: 1.49;
  }
  .container_benefits {
    margin-top: 336px;
    margin-left: 0;
    width: 242px;
    height: 78px;
  }
  .benefits_list {
    gap: 10px;
    font-size: 12px;
  }
  .benefits_item_one {
    padding: 11px 16px;
  }
  .benefits_item_two {
    padding: 11px 16px;
  }
  .benefits_item_three {
    padding: 11px 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    background-image: image-set(
      url('../../../public/water_women_images/water_woman_desk-min.png') 1x,
      url('../../../public/water_women_images/water_woman_desk@2x-min.png') 2x
    );
    width: 672px;
    height: 736px;
    gap: 129px;
    padding-bottom: 64px;
  }
  .container_customers {
    margin-top: 537px;
  }
  .container_benefits {
    margin-top: 594px;
  }
}
