.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 0; /* Вимикає автоматичний проміжок */
}

.modal {
  position: relative;
  border-radius: 15px;
  padding: 40px 20px;
  background-color: white;
  top: 80px;
  width: 100%;
  max-width: 90%; /* Обмеження ширини модалки */
  max-height: 90%; /* Обмеження висоти модалки */
  height: auto; /* Висота буде коригуватися в залежності від вмісту */
  overflow-y: auto; /* Дозволяє вертикальний скрол */
}

.modalContent {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

/* .modal button {
  border: 2px solid var(--main-text);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 16px;
} */

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* .headerBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
} */

.setting {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main);
  position: relative;
  left: 0;
  margin-bottom: 20px;
}

.blockPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.settingPhotoUpload {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.hiddenInput {
  display: none;
}

.textUpload {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
  margin-bottom: 14px;
}

.fontThree {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--main);
}

.fontHThree {
  margin-bottom: 14px;
}

.fontFour {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}

/* Сховати стандартну радіокнопку */
input[type='radio'].customRadio {
  display: none;
}

/* Стиль для лейбла кастомної радіокнопки */
label.customRadioLabel {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

/* Стилі для кастомної радіокнопки */
label.customRadioLabel::before {
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
  background-color: white; /* Колір фону для радіокнопки */
  transition: background-color 0.3s, border-color 0.3s; /* Плавні анімації */
  position: relative;
}

/* Стиль для лейбла кастомної радіокнопки при виборі */
input[type='radio'].customRadio:checked + label.customRadioLabel::before {
  background-color: white;
  border-color: #9be1a0;
}

/* Стиль для крапки всередині радіокнопки при виборі */
input[type='radio'].customRadio:checked + label.customRadioLabel::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9be1a0; /* Крапка всередині кнопки */
}

input[type='number'],
input[type='text'],
input[type='email'] {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  padding: 14px 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  min-width: 303px;
  height: 46px;
}

.inputWeightActive {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin-bottom: 14px;
}

.saveButton {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;

  /* color: #fbfbfb;
  height: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
  padding: 6px 12px;
  background-color: var(--light-black); */
}

.textNorma {
  margin-bottom: 4px;
}

.textWM {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.normaWoman {
  margin-bottom: 12px;
}

.normaMan {
  margin-bottom: 14px;
}

.instruction {
  display: flex;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 303px;
  height: 140px;
  margin-bottom: 14px;
}

.span {
  color: #9be1a0;
}
.infoAktiv {
  display: flex;
  margin-bottom: 24px;
}

.blockWeightActive {
  margin-bottom: 10px;
}

.Required {
  margin-bottom: 5px;
}

.calculate {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #9be1a0;
}
.divCalculate {
  margin-bottom: 14px;
}
