.dailyInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dateAndBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
