.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: 30px;
  height: 90vh;
}

.menu_container {
  width: 100%;
  padding: 16px;
}

.title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--light-black);
  margin-right: auto;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup:first-child {
  margin-bottom: 16px;
}

.inputGroup label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.inputGroup input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  padding: 16px;
  background-color: inherit;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
  width: 100%;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  padding: 16px;
  background-color: var(--green);
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.button:hover {
  background-color: var(--green-hover);
}

.wrapperUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.signup {
  font-weight: 700;
  color: var(--black);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.icon {
  position: relative;
  display: flex;
  align-items: center;
}

.icon input {
  width: 100%;
  padding-right: 40px; /* Робимо відступ для іконки */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .eyeIcon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu_container {
    width: 100%;
    padding: 134px;
  }

  .title {
    font-size: 36px;
    line-height: 1.06;
    letter-spacing: -0.01em;
  }

  .inputGroup label {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .inputGroup input {
    font-size: 16px;
    line-height: 1.5;
  }

  .button {
    font-size: 16px;
    line-height: 1.5;
  }
  .account {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 672px;
    height: 736px;
    padding: 118px;
  }

  .menu_container {
    width: 100%;
    padding: 0;
  }
  .form {
    width: 100%;
  }

  .inputGroup:first-child {
    margin-bottom: 20px;
  }
}
